.page {
    background-color: #000;
    max-width: 880px;
    min-width: 320px;
    margin: auto;
    color: #FFFFFF;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}

.header {
    display: flex;
    max-width: 880px;
    height: 74px;
    margin: 45px auto 39px auto;
    border-bottom: 1px solid #545454;
}
.logo {
    display: flex;
    max-width: 142px;
    object-fit: cover;
    align-self: flex-start;
}

.gallery {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 17px;
}
.gallery__card {
    height: 361px;
    width: 282px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
}
.gallery__card-image {
    max-width: 100%;
    height: 282px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px 10px 0px 0px;
}
.gallery__card-container {
    margin: auto 20px auto 21px;
    display: flex;
    justify-content: space-between;
}
.gallery__card-name {
    color: #000;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 0;
}
.gallery__card-like {
    width: 22px;
    height: 19px;
    display: flex;
    align-self: center;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 30px;
}
.gallery__card-like_disabled {
    background-image: url(./images/like_button.svg);
    transition: opacity .4s;
}

.gallery__card-like_disabled:hover {
    opacity: .5;
}
.gallery__card-like_active {
    background-image: url(./images/like_button-active.svg);
}

.footer {
    margin: 67px auto 60px auto;
}
.footer__text {
    color: #545454;
    padding: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.profile {
    margin: 0px auto 47px auto;
    max-width: 880px;
    display: flex;
    position: relative;
}
.profile__avatar {
    border-radius: 50%;
    width: 120px;
    height: 120px;
}
.profile__info {
    color: #FFFFFF;
    margin: 23px 0 0 30px;
    display: grid;
    max-width: 336px;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr 1fr;
    row-gap: 7px;

}
.profile__field-name {
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    margin: 0;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.profile__field-about {
    padding: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    grid-column-start: 1;
    grid-column-end: 3;
}
.profile__edit-button {
    width: 24px;
    height: 24px;
    display: flex;
    align-self: center;
    cursor: pointer;
    transition: opacity .4s;
    margin-left: 18px;
}
.profile__edit-button:hover {
    opacity: .6;
}

.profile__add-button {
    background-image: url(./images/add_button.svg);
    position: absolute;
    right: 0;
    top: 36px;
    width: 150px;
    height: 50px;
    cursor: pointer;
    transition: opacity .4s;
}
.profile__add-button:hover {
    opacity: .6;
}

.popup {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 50%);
    display: none;
}

.popup_active {
    display: flex;
}

.popup__toggle {
    width: 32px;
    height: 32px;
    background-color: none;
    position: absolute;
    top: -40px;
    right: -40px;
    cursor: pointer;
    transition: opacity .4s;
  }
  
  .popup__toggle:hover {
    opacity: .6;
  }
  
  .popup__toggle-image {
    width: 100%;
    height: 100%;
  }
  .edit-form__heading {
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000;
    margin: 34px 0 0 36px;
  }
  .popup__container {
    width: 430px;
    height: 330px;
    background-color: #FFFFFF;
    margin: auto;
    border-radius: 10px;
    position: relative;
  }
  .edit-form {
    width: 100%;
    height: 100%;
  }
  .edit-form__fields {
    width: 358px;
    margin: 54px auto 48px auto;
    border: 0;
    padding: 0;
  }

  .edit-form__field {
    border: 0;
    width: 100%;
    height: 24px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    background-color: transparent;
    margin-top: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    font-family: inherit;
    color: #000;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 0;
    margin: 0;
  }
.edit-form__field_name {
    margin-bottom: 30px;
  }

.edit-form__handler {
    border: none;
    margin-top: 48px;
    padding: 0;
}
.edit-form__button {
    width: 358px;
    height: 50px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    border: none;
    margin: 0;
    margin-left: 36px;
    margin-bottom: 37px;
    background-color: #000;
    cursor: pointer;
    transition: opacity .4s;
    color: white;
    padding: 0;
}
  
.edit-form__button:hover {
    opacity: .8;
}

@media screen and (max-width: 920px) {
    .header {
        margin-left: 27px;
        margin-right: 27px;
    }

    .profile {
        margin-left: 19px;
        margin-right: 19px;
    }

    .gallery {
        max-width: fit-content;
        margin: auto;
        grid-template-columns: repeat(2, 1fr);
    }

    .footer {
        margin-left: 27px;
        margin-right: 27px;
    }
}

@media screen and (max-width: 700px) {
    .header {
        margin-top: 28px;
        height: 55px;
    }
    .logo {
        max-width: 104px;
    }

    .profile {
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
        margin-bottom: 36px;
    }
    .profile__avatar {
        display: flex;
        align-self: center;
        margin-bottom: 26px;
    }
    .profile__info {
        max-width: 282px;
        margin: 0;
        grid-template-rows: auto auto;
    }
    .profile__field-name {
        text-align: center;
        font-size: 27px;
        line-height: 33px;
    }
    .profile__field-about {
        text-align: center;
        font-size: 14px;
        line-height: 17px;
    }
    .profile__edit-button {
        width: 18px;
        height: 18px;
    }

    .profile__add-button {
        background-image: url(./images/add_button_big.svg);
        width: 282px;
        position: static;
        display: flex;
        align-self: center;
        margin-top: 36px;
    }
}

@media screen and (max-width: 600px) {
    .popup__container {
        width: 282px;
        height: 322px;
    }

    .popup__toggle {
        width: 20px;
        height: 20px;
        top: -36px;
        right: 0; 
    }


    .edit-form__heading {
        font-size: 18px;
        line-height: 22px;
        margin-top: 25px;
        margin-left: 22px;
    }

    .edit-form__fields {
        width: 238px;
        margin-top: 78px;
        margin-bottom: 45px;
    }

    .edit-form__button {
        width: 238px;
        height: 46px;
        font-size: 14px;
        line-height: 17px;
        margin-left: 22px;
        margin-bottom: 25px;
    }

    .gallery {
        grid-template-columns: 1fr;
    }

    .footer {
        margin: 48px 19px 36px 19px;
    }
    .footer__text {
        font-size: 14px;
        line-height: 17px;
    }
}