.header {
    display: flex;
    max-width: 880px;
    height: 74px;
    margin: 45px auto 39px auto;
    border-bottom: 1px solid #545454;
}

@media screen and (max-width: 920px) {
    .header {
        margin-left: 27px;
        margin-right: 27px;
    }
}

@media screen and (max-width: 700px) {
    .header {
        margin-top: 28px;
        height: 55px;
    }
}