.gallery__card-like {
    background-image: url(../../../images/like_button.svg);
    outline: none;
    border: none;
    background-color: white;
    width: 22px;
    height: 19px;
    display: flex;
    align-self: center;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 30px;
    transition: opacity .4s;
}
.gallery__card-like:hover {
    opacity: .5;
}