.popup__toggle {
    width: 32px;
    height: 32px;
    background-color: none;
    position: absolute;
    top: -40px;
    right: -40px;
    cursor: pointer;
    transition: opacity .4s;
  }
  
  .popup__toggle:hover {
    opacity: .6;
  }

  @media screen and (max-width: 600px) {
    .popup__toggle {
        width: 20px;
        height: 20px;
        top: -36px;
        right: 0; 
    }
}